body,
.app-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.app-container {
  display: flex;
}

.virtual-list-item {
  width: 100%;
  height: 100%;
}

.callstack {
  display: flex;
  min-width: 33vw;
  max-width: 33vw;
  flex-direction: column;
}

.callstack-current-frame {
  min-height: 33vh;
  max-height: 33vh;
  overflow-y: auto;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.callstack-line-prefocus {
  flex: 1;
  flex-basis: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.callstack-line-focus {
  background-color: green;
}

.callstack-line-postfocus {
  flex: 1;
  flex-basis: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.callstack-frames {
  flex-grow: 1;
  overflow-y: auto;
}

.callstack-frame {
  font-family: monospace;
}

.callstack-time-slider {
  padding: 1em;
}

.time-slider {
  width: 100%;
}

.panel {
  flex-grow: 1;
}
